Demo code/HHKSprint2/ConsultantJobPortal/ConsultantJobPortal/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FDMJobSystemLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FDMJobSystemLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4863/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DbJob">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stream" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbJob" nillable="true" type="tns:DbJob" />
  <xs:complexType name="ArrayOfDbJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbJob" nillable="true" type="tns:DbJob" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbJob" nillable="true" type="tns:ArrayOfDbJob" />
  <xs:complexType name="ArrayOfDbUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbUser" nillable="true" type="tns:DbUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbUser" nillable="true" type="tns:ArrayOfDbUser" />
  <xs:complexType name="DbUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Degree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modules" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Skills" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Stream" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbUser" nillable="true" type="tns:DbUser" />
  <xs:complexType name="DbEmail">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attachments" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CC" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbEmail" nillable="true" type="tns:DbEmail" />
  <xs:complexType name="ArrayOfDbComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbComments" nillable="true" type="tns:DbComments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbComments" nillable="true" type="tns:ArrayOfDbComments" />
  <xs:complexType name="DbComments">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbComments" nillable="true" type="tns:DbComments" />
  <xs:complexType name="ArrayOfDbRecommendation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DbRecommendation" nillable="true" type="tns:DbRecommendation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDbRecommendation" nillable="true" type="tns:ArrayOfDbRecommendation" />
  <xs:complexType name="DbRecommendation">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecID" type="xs:int" />
      <xs:element minOccurs="0" name="Recommended" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recommender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbRecommendation" nillable="true" type="tns:DbRecommendation" />
</xs:schema>